.field {
  width: 400px;
  height: 600px;
  background-image: url("img/background.png");
  position: relative;
  font-size: 100px;
  text-align: center;
  margin: auto;
}

.doodler {
  width: 87px;
  height: 85px;
  background-image: url("img/doodler-guy.png");
  position: absolute;
}

.platform {
  width: 85px;
  height: 15px;
  background-image: url("img/platform.png");
  position: absolute;
}


body{
  background-image: url("img/doodler-guy.png");
}

.startBtn{
  background: url(img/startbtn.png) no-repeat;
  cursor: pointer;
  width: 96px;
  height: 96px;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.finalScore{
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: 'Cookie', cursive;
}

.restartBtn{
  background: url(img/restart.png) no-repeat;
  cursor: pointer;
  width: 64px;
  height: 64px;
  position: absolute;
  top: 1px;
  right: 6px;
}

.record{
  font-size: 20px;
  position: absolute;
  bottom: 34%;
  left: 50%;
  transform: translate(-50%, 50%);
  font-family: 'Cookie', cursive;
}